html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

button,
input,
textarea {
  display: block;
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  font-weight: inherit;
}
button,
[role="button"],
[data-fancybox] {
  cursor: pointer;
}
input {
  width: 100%;

  &[hidden] {
    display: none;
  }
}
